* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.container {
	background: #009688;
    color: white;
    font-family: arial;
    margin: 100px 30% 0;
}

.container h2, p {
	padding: 0px 10px;
}

.header {
	color: #FFC107;
    background: #1e625c;
}

.header h1 {
	padding: 10px;
    text-align: center;
}